@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quattrocento+Sans&display=swap');

:root{
    --red: rgb(255, 0, 0, 80%);
    --redtitle: rgb(128, 0, 0, 43%);
    --white: #FFFFFF;
    --black: #000000;

    --font-family: 'Kaushan Script', cursive;
    --font-family: 'Quattrocento Sans', sans-serif;

}


h1{
    font-family: 'Kaushan Script', cursive; 
}

p, h2{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
}   

.info{
    background-image: url(img/textura_nm.png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_one{
    text-align: center;
    font-size: 1.2rem;
    border-radius: 20px;
    border: solid 1px var(--redtitle);
    background-color: var(--redtitle);
    width: max-content;
    padding: 0 15px;
}

.container_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px;
}
.container_one{
    align-items: center;
    margin: 30px;
    border-radius: 32px;
    border: solid 1px var(--red);
    background-color: var(--red);
}

.title_second{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.parrafo{
    text-align: center;
    padding: 15px;
}

.tutorial{
    background-image: url(img/textura_nm.png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video{
    width: 100%;
    height: 50%;
    padding-top: 80px;
}

.container_tutorial{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 40px;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container_two{
    align-items: center;
    margin: 4px;
    border-radius: 32px;
    border: solid 1px var(--red);
    background-color: var(--red);
}

.title_two{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.parrafo_two{
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px){
    .info{
        background-image: url(img/textura_nm.png);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_one{
        text-align: center;
        font-size: 1.2rem;
        border-radius: 20px;
        border: solid 1px var(--redtitle);
        background-color: var(--redtitle);
        width: max-content;
        padding: 0 15px;
    }

    .container_info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container_one, .container_two{
        align-items: center;
        margin: 4px;
        border-radius: 32px;
        border: solid 1px var(--red);
        background-color: var(--red);
    }
    .title_second, .title_two{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    .parrafo, .parrafo_two{
        text-align: center;
        padding: 15px;
    }

    .tutorial{
        background-image: url(img/textura_nm.png);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container_tutorial{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }


}


@media screen and (max-width: 640px) {

    .info{
        background-image: url(img/textura_nm.png);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title_one{
        text-align: center;
        font-size: 1rem;
        border-radius: 20px;
        border: solid 1px var(--redtitle);
        background-color: var(--redtitle);
        width: max-content;
        padding: 0 20px;
    }

    .container_info{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container_one, .container_two{
        align-items: center;
        margin: 10px;
        border-radius: 20px;
        border: solid 1px var(--red);
        background-color: var(--red);
    }
    
    .title_second, .title_two{
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    .parrafo, .parrafo_two{
        text-align: center;
        padding: 20px;
    }

    .tutorial{
        background-image: url(img/textura_nm.png);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .video{
        padding-top: 40px;
        padding-left: 2px;
    }

    .container_tutorial{
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/*--------------piano----------*/

.keyboard_holder{
    width: 1120px;
}

.banner {
    width: 1200px; 
    height: 340px; 
    object-fit: cover; 
    object-position: 0px -90px;
}	

.content {
    background-color: #FAD7A0; 
    margin: 20px; 
    padding: 30px; 
    border-style: double; 
    border-width: 5px; 
    font-size: 18px; 
    text-align: left; 
    width: 1200px; display: 
    inline-block; 
}

.key { 
    position: absolute; 
    font-family: Helvetica; 
    font-weight: 100; font-size: 12px;
	border: 1px solid rgba(32,32,32,0.2);
	border-radius: 0px 0px 5px 5px;
	cursor:pointer;
	box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
	-webkit-transition: margin 0.05s ease, 
    background-color 0.05s ease, 
    box-shadow 0.05s ease; 
}

.key:hover { 
    background-color: var(--red); 
    color: #FFFFFF;
}
		
.key .label { 
    position: absolute; 
    bottom: 15px; 
    text-align: center; 
    left: 0px; 
    right: 0px; 
}

.keyLabel {
    font-weight: 900; 
    text-shadow: 0px -1px 5px #EBF508; 
    font-size: 15px;
}

.black { 
    background-color: rgb(32,32,32); 
    color: var(--red); 
    z-index: 1; 
    text-shadow: 0px -1px 1px #FF0000; 
}
	
.white { 
    color: var(--redtitle); 
    z-index: 0; 

}
	
.keyboard-holder { 
    margin: 30px auto; 
    height: 200px; 
    position:relative; 
    user-select:none; 
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none; 
}