*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu*/
.menu-content img{
    width: 30px;
}
.menu-content{
    position: fixed;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.menu-content li{
    position: absolute;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    right: 0;
    transform: translateX(-90px);
}
.menu-content li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color:rgb(253, 227, 227);
    border-radius: 50%;
    transition: 0.2s;
}
.menu-content li a:hover{
    width: 50px;
    height: 50px;
}
.menu-content.active li{
    transform: translateX(calc(400px / 4 * var(--i)));
}
.btn-menu{
    position: absolute;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 49, 49);
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.menu-content.active .btn-menu{
    transform: rotate(360deg);
}
/*menu*/
@media (min-width: 640px) {
    header {
        background-image: url(./img/pexels-yan-krukov-9002855.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height:100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .cuvierta{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.384);
    }
    header h1 {
        font-family: 'Kaushan Script', cursive;
    }
    header p{
        font-family: 'Quattrocento Sans', sans-serif;
    }
    header .redes img{
        width: 40px;
    }

}